.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}
.cart-content-container .button {
  padding: 5px 10px;
  font-size: 16px;
  margin-left: auto;
  background-color: #0967d2;
  color: #fff;
}
.cart-content-container .checkout {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */
